/* 
    Paleta de colores:
        color: #041826; 
        color: #0E2C3A;
        color: #005F84;
        color: #5996CF;
        color: #E4D4B7;
        color: #FFF3D5;
*/
body{
    background-color: #005F84;
}
#iconUpperBar{
    display: "inline-block"
}

#brandUpperBar{
    display: "inline-block"
}

.alignToCenter{
    align-items: center;
}

.card{
    background-color: #0E2C3A;
}

.card-body{
    background-color: #5996CF;

}

.navbar-fixed-bottom{
    background-color: #041826;
    color:aliceblue;
    align-items: center;
    min-height:12px;
}