/* 
    Paleta de colores:
        color: #041826;
        color: #0E2C3A;
        color: #005F84;
        color: #5996CF;
        color: #E4D4B7;
        color: #FFF3D5;
*/
.gen{
    background-color: #005F84;
}
