<html>
<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="Resources/logoSinFondoEstrecha.PNG" width="100px" height="40px" class="d-inline-block align-top" alt="">
            FoodeX
        </a>
        <p class="navbar-text">Recetas</p>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">FoodeX</h1>
                <p class="lead fw-normal text-white-50 mb-0">Tus recetas a un solo click</p>
            </div>
        </div>
    </header>
    
    <!-- Menu principal de la página donde se muestra la lista de recetas existentes -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div id="main" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#recipes}}
                    <a href = "recipe/ {{id}}">
                    <div  class="col mb-5 existingElement">                   
                        <div class="card">
                            <img src="{{recipe.getImages()[0]}}" class="card-img-top" alt="{{recipe.getName()}} photo">
                            <div class="card-body">
                                <h3 class="card-title"><strong>{{recipe.getName()}}</strong></h3>
                                <h6 class="card-text">{{recipe.getDescription()}}</h6>
                                <a href="showMore/{{id}}" class="btn btn-primary">Ver receta</a>
                            </div>
                        </div>
                    </div>
	            {{/recipes}}
	
	            {{^recipes}}
                    <h3 id = 'noElementsMessage'> Sin elementos </h3>
	            {{/recipes}}
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Diego Isaac Fernández Conde,David Pimentel Montes,Pablo
            Requejo Postlbauer. All rights reserved.</p></div>
    </footer>
</body>

</html>
