<!DOCTYPE html>
<html>

<head>
    <title>FoodeX</title> <!-- Titulo página web -->
    <meta charset="utf-8"> <!-- Poder meter simbolos especiales -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- JQuery -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="stylesBootstrap.css" /> <!-- Hoja de estilos con Bootstrap -->
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/><!-- Bootstrap Icons -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <script src="/app.js"></script>
    <link rel="icon" href="/Resources/logoFondoRedondeado.PNG" type="image" /> <!-- Logo web -->
    <link type="text/css" rel="stylesheet" href="styles.css" /> <!-- Hoja de estilos -->
</head>

<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/Resources/logoSinFondoEstrecha.PNG" width="100px" height="40px" class="d-inline-block align-top" alt="">
            FoodeX
        </a>
        <p class="navbar-text">Recetas</p>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">FoodeX</h1>
                <p class="lead fw-normal text-white-50 mb-0">Tus recetas a un solo click</p>
            </div>
        </div>
    </header>
    
    <!-- Menu principal de la página donde se muestra la lista de recetas existentes -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div id="main" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {{#recipes}}
                    <div  class="col mb-5 existingElement">                   
                        <div class="card">
                            <img src="{{image}}" class="card-img-top" alt="{{name}} photo">
                            <div class="card-body">
                                <h3 class="card-title"><strong>{{name}}</strong></h3>
                                <h6 class="card-text">{{description}}</h6>
                                <a href="showMore/{{id}}" class="btn btn-primary">Ver receta</a>
                            </div>
                        </div>
                    </div>
	            {{/recipes}}
	
	            {{^recipes}}
                    <h3 id = 'noElementsMessage'> Sin elementos </h3>
	            {{/recipes}}
                
            </div>
        </div>
    </section>

    <div id="buttons" class="center centerText"> 
        <br><a href="/add" id="btn-add" class="btn btn-primary">Nueva receta</a>
        <button onclick="loadAJAX()">Cargar AJAX</button>
        
        <br><br><br><br>
    </div>

    <div id="buttons" class="center centerText"> 
        <br><a href="/add/formulario" id="btn-add" class="btn btn-primary">Nuydtctjcjcftjuyyfjuyita</a>
        
        <br><br><br><br>
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Diego Isaac Fernández Conde,David Pimentel Montes,Pablo
            Requejo Postlbauer. All rights reserved.</p></div>
    </footer>
</body>

</html>
