{{#ingredient}}
<li id = 'ingredientinpli'>
    <input id='ingredientinp-idNumber' type='text' value = {{ingredient}}>
    <button id = 'button-remove-ingredients-' type="button" class="btn btn-danger btn-remove">
        <i class="bi bi-trash text-light"></i> Delete 
    </button>
    <br>
</li>
{{/ingredient}}