<!-- Galería con recetas que se suman al index con la petición Ajax -->
{{#recipes}}
<div class="col mb-5 existingElement">
    <div class="card">
        <img src="{{image}}" class="card-img-top" alt="{{name}} photo">
        <div class="card-body">
            <h3 class="card-title"><strong>{{name}}</strong></h3>
            <h6 class="card-text">{{description}}</h6>
            <a href="showMore/{{id}}" class="btn btn-primary">Ver receta</a>
        </div>
    </div>
</div>
{{/recipes}}