/* 
    Paleta de colores:
        color: #041826; 
        color: #0E2C3A;
        color: #005F84;
        color: #5996CF;
        color: #E4D4B7;
        color: #FFF3D5;
*/

.navbar-text{
    font-size: 3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
}

.navbar-brand{
    font-size: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0,2rem;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.centerText {
    text-align: center;
}

.btn-toolbar{
    justify-content: center;
}

.card-title{
    font-size: 1,25em;
}

.card-body {
    background-color: #5996CF;
    color:aliceblue;
}

.recipe-title{
    text-align: center;
    font-weight: bold;
    color:bisque;
    font-size: 5em;
}

.description{
    text-align: center;
    color:aliceblue;
    font-size: 2em;
}

.ingredientsTitle{
    font-size: 6em;
    text-align: left;
}

.preparationTitle{
    font-size: 6em;
    text-align: left;
}

.ingredientsContent{
    font-size: 2em;
}

.preparationContent{
    font-size: 2em;
}

.listContent{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vista_recta_buttons{
    justify-content: space-around;
}

#tituloinp{
    color:black;
}

#descripcioninp{
    color:black;
}

#noElementsMessage{
    font-size: 4em;
    text-align: center;
    color:aliceblue;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 1rem 2rem;
  font-size: 3 rem;
  border-radius: 0.6rem;
}

#vista_recta_buttons_sep {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

